@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url("./BG.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: landingpgFont;
  src: url("../../../Poppins-ExtraLight.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

